      <!-- Sidebar -->
      <div class="sidebar-wrapper">
        <i class='icon-align-justify icon-large' id='toggle'></i>
        <ul class="sidebar-nav">
          <li>
            <i class='icon-dashboard'></i>
            <a [routerLink]="['dashboard']" tooltipPlacement="right" tooltip="Dashboard"></a>
          </li>
          <li>
            <i class="fa fa-home"></i>
            <a [routerLink]="['board']" tooltipPlacement="right" tooltip="Bulletin"></a>
          </li>
        </ul>
        <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
      </div>