#build files
server/target/

#eclipse stuff
server/.cheatsheet.xml
server/.factorypath
server/.settings/
server/.classpath
server/.project
server/.generated-sources/
server/.apt_generated/
frontend/node_modules
frontend/dist
