<div class="announcement" [ngStyle]="{'background-color' : announcement.color}">

	<object class="rushpin col-xs-12" type="image/svg+xml" data="assets/images/rushpin.svg"></object>
	<h4 class="title">
	  {{announcement.title}}
	</h4>
	<div class="description">
	  {{announcement.description}}
	</div>
	<div class="tags-wrapper">
		<span *ngFor="let tag of announcement.tags">
			<span class="label" [ngStyle]="{'background-color': tag.color }">{{tag.name}}</span>
		</span>
	</div>
          <div class="like" (click)="click()">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              {{announcement.likes}}        
          </div>
          <div class="like">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              {{announcement.dislikes}}
          </div>
</div>