    <!-- Navbar -->
    <div class='navbar navbar-default' id='navbar'>
      <a class='navbar-brand' >
        <i class='icon-beer'></i>
        {{quarterName}}
      </a>
      <ul class='nav navbar-nav pull-right'>
        <li class='dropdown'>
          <a routerLink="home" class='dropdown-toggle' data-toggle='dropdown' >
            <i class='icon-envelope'></i>
            My announcements
          </a>
        </li>
        <li>
          <a routerLink="board">
            <i class='icon-cog'></i>
            My quarter
          </a>
        </li>
        <li class='dropdown user'>
          <a class='dropdown-toggle' data-toggle='dropdown' (click)="logout()">
            <i class='icon-user'></i>
            <strong>{{userName}}</strong>
          </a>
        </li>
      </ul>
    </div>