ul {
	    list-style-type : none;
}

body {
	overflow : hidden;
}

.announcements-list-wrapper .announcement-wrapper {
    margin-bottom: 10px;
}


.announcements-list-wrapper .rushpin{
	visibility:	hidden;
}