<div class="col-xs-9">
	<object  type="image/svg+xml" data="app/map/map.svg"  [@collapse]="mapState"></object>
	<div class="col-xs-12">
		<button type="button" class="btn btn-default map-button glyphicon" 
		    [ngClass]="{ ' glyphicon-chevron-down' : _visible==false , 
		    ' glyphicon-chevron-up' : _visible}" (click)="toggleMap()"></button>
	</div>
</div>
<div class="col-xs-3 announcements-list-wrapper" [ngClass]="{ 'invisible' : !_visible}">
	<app-announcements [ngClass]="{ 'invisible' : !_visible}"></app-announcements>
</div>